<div class="box">
    <div>
        <p class="getp">
            Get in touch
        </p>
        <div class="">
            <div class="con">
                <img src="contact_us.png" alt="">
            </div>
            <br><br>
            <a href="https://www.instagram.com/" class="abt" style="padding-top: 7%;width: 50%;"><img src="insta.png" style="height: 25px; width: 35px;"> Instagram</a>
            <a href="mailto:xyz@gmail.com" class="abt" style="width: 54%;"><img src="683903_email_512x512-6d4e310c.png" style="height: 25px; width: 35px;">xyz@gmail.com</a>
            <a href="tel:+91 9876543210" class="abt" style="width: 50%;"><img src="phone.png" style="height: 30px; width: 35px;">+91 9876543210</a>
        </div>

    </div>
</div>